.flex {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: -40px;
}
.flex4 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.alert {
    position: absolute;
    z-index: 2;
    background-color: aliceblue;
    opacity: 50%;
}
.flex2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    visibility: hidden;
}

/* CSS */
.button-33 {
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 15px 40px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 32px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
.flex3 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-top: 30px;
}
h1{z-index: 5;}
body {
    overflow: hidden;
    margin: 0;
    user-select: none;
  background-color: #7B1414;
}
#creditDisplay {
  background-color: #00aeba; /* Blue */
    border: none;
    color: white;
    padding: 15px 60px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.add {
  background-color: #00ba2e; /* Blue */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.reset {
  background-color: #ff0000; /* Blue */
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.add:hover {
  background-color: #03640b; /* Darker blue */
}
.reset:hover {
  background-color: #9c0202;
}
.message {
  
  height: 700px;
}

.hidden {
  opacity: 0; /* Hidden state */
  visibility: hidden; /* Prevent it from taking up space */
}
#noti {
  position: absolute;
  z-index: 5;
}